
@font-face
{
    font-family: 'Futura';
    src: url('../fonts/FuturaLT-Book.ttf')  format('truetype');
}
@font-face
{
    font-family: 'Futura_Bold';
    src: url('../fonts/FuturaLT-Bold.ttf')  format('truetype');
}


*
{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
    font-family: 'Futura', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #000000;
    color: #FFFFFF;
}
div
{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
    list-style: none;
    margin-bottom: 0px;
}
p
{
    font-family: 'Futura', sans-serif;
    font-size: 14px;
    line-height: 2.18;
    font-weight: 400;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
p:last-of-type
{
    margin-bottom: 0;
}
a
{
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
    position: relative;
    color: #FF6347;
}
p a:hover
{
    color: #FFFFFF;
    background: #ffa07f;
}
p a:hover::after
{
    opacity: 0.2;
}
::selection
{
    background: rgba(255,255,255,0.07);
}
p::selection
{

}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Futura', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    line-height: 1.2;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
img
{
    max-width: 100%;
}
button:active
{
    outline: none;
}
.form-control
{
    color: #db5246;
}
section
{
    display: block;
    position: relative;
    box-sizing: border-box;
}
.clear
{
    clear: both;
}
.clearfix::before, .clearfix::after
{
    content: "";
    display: table;
}
.clearfix::after
{
    clear: both;
}
.clearfix
{
    zoom: 1;
}
.float_left
{
    float: left;
}
.float_right
{
    float: right;
}
.trans_200
{
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.trans_300
{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.trans_400
{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.trans_500
{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.fill_height
{
    height: 100%;
}
.super_container
{
    width: 100%;
    overflow: hidden;
}
.prlx_parent
{
    overflow: hidden;
}
.prlx
{
    height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.background_image
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.nopadding
{
    padding: 0px !important;
}
.section_subtitle
{
    font-size: 18px;
    line-height: 0.75;
}
.section_title
{
    margin-top: 7px;
    margin-left: -2px;
}

.header
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #000000;
    z-index: 100;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.header.scrolled
{
    background: rgba(0,0,0,0.85);
}
.header_content
{
    width: 100%;
    height: 101px;
    padding-left: 51px;
    padding-right: 52px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.header.scrolled .header_content
{
    height: 70px;
}
.logo
{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 51px;
}
.logo a
{
    font-family: 'Futura', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}
.log_reg
{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 52px;
}
.log_reg ul li
{
    position: relative;
}
.log_reg ul li:not(:last-child)::after
{
    display: inline-block;
    content: '/';
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 6px;
    margin-right: 6px;
}
.log_reg ul li a
{
    font-size: 14px;
    color: #FFFFFF;
}
.log_reg ul li a:hover
{
    color: #de4f33;
}
.main_nav ul li:not(:last-child)
{
    margin-right: 24px;
}
.main_nav ul li
{
    position: relative;
}
.main_nav ul li a
{
    position: relative;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 26px;
    padding-right: 23px;
    z-index: 1;
}
.main_nav ul li a::after
{
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 17px;
    background: #525252;
    content: '';
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.main_nav ul li.active a::after,
.main_nav ul li a:hover::after
{
    bottom: -5px;
    visibility: visible;
    opacity: 1;
}
.hamburger
{
    display: none;
    width: 50px;
    height: 24px;
    cursor: pointer;
    padding: 5px;
    right: -5px;
}
.hamburger > div
{
    width: 100%;
    height: 100%;
}
.hamburger > div > div
{
    height: 2px;
    background: #FFFFFF;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.hamburger > div > div:first-child
{
    width: 90%;
}
.hamburger > div > div:nth-child(2)
{
    width: 50%;
}
.hamburger > div > div:nth-child(3)
{
    width: 70%;
}
.hamburger:hover > div > div
{
    width: 100%;
}

.menu
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
}
.menu_overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
}
.menu.active
{
    visibility: visible;
    opacity: 1;
}
.menu > div
{
    width: 100%;
    height: 100%;
}
.menu_container
{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -300px;
    width: 300px;
    -webkit-transition: all 1000ms 600ms ease;
    -moz-transition: all 1000ms 600ms ease;
    -ms-transition: all 1000ms 600ms ease;
    -o-transition: all 1000ms 600ms ease;
    transition: all 1000ms 600ms ease;
}
.menu.active .menu_container
{
    right: 0;
}
.menu_log_reg
{
    display: none;
    width: 100%;
    background: #000000;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
    border-bottom: solid 2px #9a4141;
}
.menu_log_reg a
{
    font-size: 14px;
    color: #FFFFFF;
}
.menu_log_reg a:hover
{
    color: #9a4141;
}
.menu_log_reg ul li
{
    position: relative;
}
.menu_log_reg ul li:not(:last-child)::after
{
    display: inline-block;
    content: '/';
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 6px;
    margin-right: 6px;
}
.menu_nav
{
    width: 100%;
    background: #000000;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 5px #9a4141;
}
.menu_nav ul li
{
    position: relative;
}
.menu_nav ul li a:hover::before
{
    left: 100%;
}
.menu_nav ul li:not(:last-of-type)
{
    margin-bottom: 5px;
}
.menu_nav ul li a
{
    display: block;
    position: relative;
    font-size: 20px;
    color: #FFFFFF;
    overflow: hidden;
}
.menu_nav ul li a::before
{
    display: block;
    position: absolute;
    top: 50%;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    content: '';
    -webkit-transition: all 400ms 200ms ease;
    -moz-transition: all 400ms 200ms ease;
    -ms-transition: all 400ms 200ms ease;
    -o-transition: all 400ms 200ms ease;
    transition: all 400ms 200ms ease;
}
.menu_nav ul li a:hover
{
    color: #9a4141;
}



.events_header{
    width: 100%;
    height: 384px;
    padding-left: 51px;
    padding-right: 52px;
   font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.events_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.event
{
    width: 90%;
    height: 384px;
    padding-left: 51px;
    padding-right: 52px;
    margin-bottom: 100px;
}
.event_hidden{
    opacity: 0.1;
}
.event_inner
{
    width: 100%;
    height: 100%;
}
.event_container
{
    height: 100%;
}
.event_content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.event_subtitle
{
    width: 80%;
    font-size: 1.1rem;
    line-height: 1.1;
}
.event_subtitle > a{
    color: #ffd1d5;
}
.participants{
    color: #9fcdff;
    font-style: oblique;
    font-weight: bold;
}
.prize{
    font-size: 1.4em;
}
.prize > span{
    color: #beffb7;
   font-weight: bolder;
}
.event_title
{
    padding-top: 30px;
    font-size: 60px;
    line-height: 0.75;
    margin-bottom: 18px;
}

/*.event_content{*/
    /*display: flex;*/
    /*justify-content: center;*/
/*}*/

.events_button {

    /*width: 161px;*/
    width: 30%;
    height: 46px;
    background: #000;
    /*border: 2px solid rgba(255,255,255, 0.8);*/
    margin-top: 35px
}

.events_button:hover {
    background: rgba(0, 0, 0, .5)
}

.events_button a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 46px;
    color: #FFF;
    font-size: 14px;
    text-align: center
}
.event_category{
    font-size: 18px;
}
.event_category > span{
    padding: 10px 0px;
}
.event_category > span:before{
    padding-right: 10px;
}









.footer
{
    background: #000000;
    padding-left: 50px;
    padding-right: 51px;
}
.newsletter_container
{
    width: 604px;
    padding-top: 103px;
}
.newsletter_title
{

}
.newsletter_form
{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.newsletter_input
{
    width: 100%;
    height: 50px;
    background: #545454;
    border: none;
    outline: none;
    padding-left: 23px;
}
.newsletter_input::-webkit-input-placeholder
{
    font-size: 12px !important;
    font-style: italic;
    color: #FFFFFF !important;
}
.newsletter_input:-moz-placeholder
{
    font-size: 12px !important;
    font-style: italic;
    color: #FFFFFF !important;
}
.newsletter_input::-moz-placeholder
{
    font-size: 12px !important;
    font-style: italic;
    color: #FFFFFF !important;
}
.newsletter_input:-ms-input-placeholder
{
    font-size: 12px !important;
    font-style: italic;
    color: #FFFFFF !important;
}
.newsletter_input::input-placeholder
{
    font-size: 12px !important;
    font-style: italic;
    color: #FFFFFF !important;
}
.newsletter_button
{
    position: absolute;
    top: 0;
    right: 0;
    width: 139px;
    height: 50px;
    background: #9a4141;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
}
.footer_lists
{
    width: 575px;
    padding-top: 83px;
    padding-bottom: 5px;
}
.footer_list
{
    width: calc(100% / 3);
}
.footer_list_title
{
    font-size: 24px;
}
.footer_list ul
{
    margin-top: 23px;
}
.footer_list ul li:not(:last-of-type)
{
    margin-bottom: 9px;
}
.footer_list ul li a
{
    font-size: 14px;
    color: #6d6d6d;
}
.footer_list ul li a:hover
{
    color: #FFFFFF;
}
.bottom_bar
{
    width: 100%;
    height: 67px;
    background: #000000;
}
.log_reg ul li {
    background-color: #FFF

}
.log_reg ul li:hover {
    background-color: #000

}
.log_reg ul li:hover > a{
    color: #FFF

}
.log_reg ul li a {
    font-size: 15px;
    color: #000
}

.log_reg ul li a:hover {
    color: #FFF;
}