@charset "utf-8";
@media only screen and (max-width: 1380px) {
    .newsletter_container {
        width: 450px
    }

    .footer_lists {
        width: 575px
    }

}

@media only screen and (max-width: 1199px) {
    .footer_lists, .newsletter_container {
        width: 667px
    }

    .lectures_image {
        left: -198px
    }

    .bottom_bar {
        margin-top: 60px
    }
}

.countdown{
    padding: 100px;
    margin:50px;
}
#count_title{
    padding-bottom: 40px;
    font-size: 50px;
}
.count_dial{
    padding: 10px;
}
.count_dot{
    padding: 5px;
}
.countdown .timeel {
    font-size: 50px;
    padding: 30px;
}
.countdown span[class*="timeRef"] {

    padding: 10px 20px 0px 20px ;

}

@media only screen and (max-width: 991px) {
    .main_nav {
        display: none
    }

    .log_reg {
        right: 120px
    }

    .hamburger {
        display: block
    }

    .featured_album .section_title_container {
        padding-left: 0
    }

    .workshop_image {
        width: calc(100% + 242px)
    }

    .featured_album_player_container {
        width: calc(100% + 158px);
        left: -158px
    }

    .featured_album_title_bar {
        padding-left: 35px;
        padding-right: 35px
    }

    .jp-playlist li {
        padding-left: 35px
    }

    .jp-playlist li > div {
        padding-right: 35px
    }

    .featured_album_link {
        width: 167px
    }

    .lectures_image {
        left: auto;
        width: 100%
    }

    .lectures_list_container, .workshops_list_container {
        width: 100%;
        top: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        padding-left: 15px;
        padding-right: 15px
    }

    .lectures_list_col {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    .workshops_list_col {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
        transform: translateY(50%)
    }

    .lectures_list li {
        font-size: 16px
    }

    .lectures_row {
        margin-top: 71px
    }

    .artist_image_col {
        position: absolute;
        width: 100%;
        right: 0;
        top: 50px;
        text-align: right
    }

    .artist_image {
        left: auto;
        padding-right: 0;
        width: 100%
    }

    .artist_image img {
        max-width: 46%;
        opacity: .5
    }
}



@media only screen and (max-width: 767px) {
    .footer_lists, .newsletter_container, .show_location, .show_name, .workshop_image {
        width: 100%
    }

    .workshop_image {
        height: 272px
    }

    .featured_album_player_container {
        width: 100%;
        left: auto
    }

    .lectures_list li {
        font-size: 14px;
        padding-right: 15px
    }

    .show_location {
        margin-left: 0
    }

    .artist_image_col {
        top: 130px
    }

    .artist_image img {
        max-width: 54%
    }

    .tickets_title h1 {
        font-size: 48px
    }
}

/*.countdown{*/
    /*padding: 60px 10px;*/
    /*margin:20px;*/
/*}*/

/*#count_title{*/
    /*padding-bottom: 20px;*/
    /*font-size: 25px;*/
/*}*/
/*.count_dial{*/
    /*padding: 5px;*/
/*}*/
/*.count_dot{*/
    /*padding: 2px;*/
/*}*/
/*.countdown .timeel {*/
    /*font-size: 25px;*/
    /*padding: 15px;*/
    /*min-width: 2.6rem;*/
/*}*/
/*.countdown span[class*="timeRef"] {*/
    /*font-size: 10px;*/
    /*padding: 5px 10px 0px 10px ;*/
/*}*/

@media only screen and (max-width: 575px) {
    h1 {
        font-size: 36px
    }

    .header_content, .home {
        padding-left: 15px;
        padding-right: 15px
    }

    .logo {
        left: 15px
    }

    .log_reg {
        display: none
    }

    .menu_log_reg {
        display: block
    }

    .featured_album_artist {
        font-size: 22px
    }

    .featured_album_title {
        font-size: 14px;
        margin-top: 2px
    }

    .jp-type-playlist div.jp-playlist a, .song_duration {
        font-size: 14px !important
    }

    .jp-playlist li {
        padding-left: 25px
    }

    .jp-playlist li > div {
        padding-right: 25px
    }

    .featured_album_title_bar {
        padding-left: 25px;
        padding-right: 25px
    }

    .show_date {
        width: 68px
    }

    .show_shop {
        width: 100px
    }
    .lectures_list li a {
        font-size: 12px;
    }
    .show_location{
        font-size: 10px;
    }

    .single_player_container {
        width: 100%;
        left: auto
    }

    .jp-type-single .player_controls .jp-interface, .jp-type-single .player_details {
        padding-left: 20px;
        padding-right: 22px
    }

    .footer, .tickets {
        padding-left: 15px;
        padding-right: 15px
    }

    .tickets_title h1 {
        font-size: 36px
    }

    .newsletter_input {
        height: 40px
    }

    .newsletter_button {
        width: 109px;
        height: 40px
    }

    .newsletter_title h2 {
        font-size: 24px
    }

    .footer_list {
        width: 100%
    }

    .footer_list:not(:last-child) {
        margin-bottom: 60px
    }

    .countdown{
    padding: 60px 10px;
    margin:20px;
    }

    #count_title{
    padding-bottom: 20px;
    font-size: 25px;
    }
    .count_dial{
    padding: 5px;
    }
    .count_dot{
    padding: 2px;
    }
    .countdown .timeel {
    font-size: 25px;
    padding: 15px;
    min-width: 2.6rem;
    }
    .countdown span[class*="timeRef"] {
    font-size: 10px;
    padding: 5px 10px 0px 10px ;
    }
}